* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8d7a7;
  font-family: "Balsamiq Sans", cursive;
}

#header {
  display: flex;
  position: sticky;
  background-color: rgb(118, 116, 136);
  color: white;
  top: 0;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  margin-right: 3em;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.5em 1em;
  text-decoration: none;
  font-size: 1em;
}

#logo {
  float: left;
  margin-left: 3em;
  margin-right: 0;
}
.nav-link {
  padding: 30px 0;
}
#second-header h2 {
  display: block;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  margin: 1.5em;
}
form {
  margin: auto;
  width: 50%;
  padding: 10px;
}
input[type="email"] {
  width: 50%;
  padding: 12px 20px;
  margin: 10px auto;
  display: block;
  font-size: 0.8em;
}
input[type="email"]:focus {
  border: 3px solid #555;
}
.button {
  background-color: #4caf50;
  width: 20%;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 0.8em;
  margin-left: 40%;
  cursor: pointer;
  border-radius: 12px;
}
.button:hover {
  background-color: white;
  color: #4caf50;
}
main {
  margin: 50px auto;
  width: 70%;
  padding: 10px;
}
main h2 {
  font-size: 1.5em;
  font-weight: 900;
}
main p {
  font-size: 0.8em;
}
img {
  width: 50px;
  height: 50px;
}
#video-player {
  margin: 50px auto;
  width: 50%;
  padding: 10px;
  border: 1px solid green;
}
#pricing {
  margin: auto;
  width: 80%;
}
.subtitle {
  text-align: center;
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
p {
  text-align: center;
  font-size: 0.8em;
}
.btn {
  margin: 5px auto;
  width: 30%;
  margin-left: 35%;
}
footer h6 {
  text-align: center;
}
.page-footer {
  background-color: rgb(17, 7, 17);
  color: white;
  padding: 20px;
}
@media screen and (max-width: 672px) {
  #header-img {
    display: none;
  }
  ul {
    height: 100px;
  }
  input[type="email"] {
    width: 100%;
    padding: 12px 2px;
    margin: 10px auto;
    display: block;
    font-size: 0.8em;
  }
  .button {
    background-color: #4caf50;
    width: 40%;
    color: white;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 30%;
    cursor: pointer;
    border-radius: 12px;
  }
  .icon {
    text-align: center;
  }
  #video-player {
    margin: 30px auto;
    width: 90%;
    padding: 10px;
    border: 1px solid green;
  }
}
