* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8d7a7;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  margin-right: 3em;
}

li a {
  display: block;
  color: rgb(78, 72, 72);
  text-align: center;
  padding: 1.5em 1em;

  text-decoration: none;
  font-size: 1em;
}

#logo {
  float: left;
  margin-left: 3em;
  margin-right: 0;
}
header h2 {
  display: block;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  margin: 1.5em;
}
form {
  margin: auto;
  width: 50%;
  padding: 10px;
}
input[type="email"] {
  width: 50%;
  padding: 12px 20px;
  margin: 10px auto;
  display: block;
  font-size: 0.8em;
}
input[type="email"]:focus {
  border: 3px solid #555;
}
.button {
  background-color: #4caf50;
  width: 20%;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 0.8em;
  margin-left: 40%;
  cursor: pointer;
  border-radius: 12px;
}
.button:hover {
  background-color: white;
  color: #4caf50;
}
main {
  margin: 50px auto;
  width: 70%;
  padding: 10px;
}
main h2 {
  font-size: 1.5em;
  font-weight: 900;
}
main p {
  font-size: 0.8em;
}
img {
  width: 50px;
  height: 50px;
}
#visual-data {
  margin: 50px auto;
  width: 50%;
  padding: 10px;
  border: 1px solid green;
}
#content {
  margin: auto;
  width: 80%;
}
h6 {
  text-align: center;
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
p {
  text-align: center;
  font-size: 0.8em;
}
.btn {
  margin: 5px auto;
  width: 30%;
  margin-left: 35%;
}
